.local/
.cache/
.config/
.warp/
.bash_history
.bash_logout
.bashrc
.profile
.viminfo
.root_hist
.lesshst
.Xauthority
.cmake/
snap/
alice/
alidist/
bin/

simtest/*.root
simtest/*.log
simtest/*.dat
simtest/GRP/
simtest/grpdump.sh
simtest/validation_error.message
!simtest/analysisJets.root
!simtest/focalClusters.root
focalJetAnalysis/.git
.ssh/
.gitconfig
.vscode/
simtest/build/
